/* Took this css from the index.css and will be importing this into thte index.js*/
.red {
  color: #d82c25;
  font-weight: bold;
}

.orange {
  color: #de9e38;
  font-weight: bold;
}

.yellow {
  color: #e2df47;
  font-weight: bold;
}

.green {
  color: #3dc15a;
  font-weight: bold;
}

.blue {
  color: #2875e9;
  font-weight: bold;
}

.pink {
  color: #e856e8;
  font-weight: bold;
}

.bg-red {
  background-color: #d82c25;
  font-weight: bold;
}

.bg-orange {
  background-color: #de9e38;
  font-weight: bold;
}

.bg-yellow {
  background-color: #e2df47;
  font-weight: bold;
}

.bg-green {
  background-color: #3dc15a;
  font-weight: bold;
}

.bg-blue {
  background-color: #2875e9;
  font-weight: bold;
}

.bg-pink {
  background-color: #e856e8;
  font-weight: bold;
}
