* {
  box-sizing: border-box;
  user-select: none;
}

.red {
  color: #d82c25;
  font-weight: bold;
}

.orange {
  color: #de9e38;
  font-weight: bold;
}

.yellow {
  color: #e2df47;
  font-weight: bold;
}

.green {
  color: #3dc15a;
  font-weight: bold;
}

.blue {
  color: #2875e9;
  font-weight: bold;
}

.pink {
  color: #e856e8;
  font-weight: bold;
}

.bg-red {
  background-color: #d82c25;
  font-weight: bold;
}

.bg-orange {
  background-color: #de9e38;
  font-weight: bold;
}

.bg-yellow {
  background-color: #e2df47;
  font-weight: bold;
}

.bg-green {
  background-color: #3dc15a;
  font-weight: bold;
}

.bg-blue {
  background-color: #2875e9;
  font-weight: bold;
}

.bg-pink {
  background-color: #e856e8;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  border: none;
  border-top: 1px solid #d5d5d5;
}

html {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

div.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section {
  height: 100%;
}

section.main {
  float: left;
  width: calc(100% - 450px);
  color: #343434;
  overflow: auto;
  background-color: #2e2e2e;
}

section.sidebar {
  float: right;
  width: 450px;
  background-color: #f3f3f3;
  border-left: 1px solid #e5e5e5;
}

section.sidebar div.tabbar {
  width: 100%;
  height: 40px;
  background-color: #545454;
  border-bottom: 1px solid #ccc;
}

section.sidebar div.tabbar div.tab {
  cursor: pointer;
  width: 33.3333%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  border-left: 1px solid #ccc;
  border-bottom: 0px solid #d1d1d1;
  background-color: #dadada;
  display: inline-block;
  color: #343434;
  transition-duration: 0.2s;
}

section.sidebar div.tabbar div.tab:first-child {
  border-left: none;
}

section.sidebar div.tabbar div.selected {
  border-bottom-width: 40px !important;
}

section.sidebar div.tabbar div.tab:hover {
  ackground-color: #d1d1d1;
  border-bottom-width: 20px;
}

section.sidebar div.main {
  width: 100%;
  height: calc(100% - 80px);
  padding: 20px;
  overflow: auto;
}

section.sidebar div.main span.right {
  float: right;
}

div.inspector {
  height: calc(100% - 40px);
}

div.inspector input {
  float: right;
}

div.comp-selector div.subtitle {
  margin-top: 5px;
  padding: 5px;
  border-bottom: 1px solid #e3e3e3;
  font-weight: bold;
}

div.comp-selector div.comp {
  padding: 15px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
  font-family: 'Inconsolata', monospace;
}

div.comp-selector div.clear {
  padding: 5px;
  cursor: pointer;
  background-color: #ffd3d4;
  color: #f06b69;
  border-radius: 3px;
  border: 1px solid #fdc5c1;
  margin-bottom: 15px;
}

div.comp-selector div.comp:hover {
  background-color: #f0f0f0;
}

div.comp-selector div.comp span.name {
  font-family: sans-serif;
  float: right;
  font-style: italic;
}

div.left {
  float: left;
  width: 60%;
  padding: 5px;
}

div.right {
  float: right;
  width: 40%;
  padding: 5px;
}

table {
  padding: 0;
  border-collapse: collapse;
  font-family: 'Inconsolata', monospace;
  table-layout: fixed;
}

td {
  background-color: #f0f0f0;
  text-align: center;
  width: 25px;
  min-width: 25px;
  max-width: 25px;
  height: 25px;
  min-height: 25px;
  max-height: 25px;
  font-size: 20px;
  cursor: pointer;
}

td.selected {
  outline: 2px solid #e0e0e0;
}

tr:nth-child(even) td:nth-child(even) {
  background-color: #fafafa;
}

tr:nth-child(odd) td:nth-child(odd) {
  background-color: #fafafa;
}

div.colours {
  margin-top: 17px !important;
}

div.colour {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #f3f3f3;
  transition-duration: 0.1s;
}

div.colour.selected {
  border-width: 0px;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

div.sim-controls {
  height: 40px;
}

div.sim-controls button {
  height: 100%;
  width: 33.333%;
  border: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background-color: #dadada;
  outline: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

div.sim-controls button:first-child {
  border-left: none;
}

div.sim-controls button:active {
  background-color: #d1d1d1;
}

div.sim-controls button.selected {
  background-color: #d1d1d1;
}

div.CodeMirror {
  margin-top: 10px;
  border-radius: 4px;
  padding: 10px;
}
