* {
  box-sizing: border-box;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #383838;
  font-family: sans-serif;
}

button {
  transition-duration: 0.3s;
}

span.step-count {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-style: italic;
  color: #c0c0c0;
}

div.wrapper {
  width: 100%;
  padding: auto;
  margin-top: 35px;
}

div.wrapper div:first-child, div.wrapper table:first-child {
  margin: auto;
  left: 0;
  right: 0;
}

div.inspector {
  background-color: #fafafa;
  border: 5px solid #e0e0e0;
  width: 350px;
  padding: 15px;
}

div.inspector input {
  float: right;
}

div.inspector h1 .right {
  float: right;
}

hr {
  border: none;
  border-top: 1px dashed #bbb;
}

table {
  margin: 25px;
  padding: 0;
  border-collapse: collapse;
  border: 5px solid #e0e0e0;
  font-family: 'Inconsolata', monospace;
}

td {
  background-color: #f0f0f0;
  text-align: center;
  width: 25px;
  height: 25px;
  font-size: 20px;
  cursor: pointer;
}

td.selected {
  outline: 2px solid #e0e0e0;
}

.green {
  color: #3dc15a;
  font-weight: bold;
}

.grey {
  color: #bbb;
}

.red {
  color: #d82c25;
}

.orange {
  color: #de9e38;
}

tr:nth-child(even) td:nth-child(even) {
  background-color: #fafafa;
}

tr:nth-child(odd) td:nth-child(odd) {
  background-color: #fafafa;
}

div.sim-controls {
  background-color: #fafafa;
  border: 5px solid #e0e0e0;
  width: 350px;
  padding: 15px;
  text-align: center;
}

div.sim-controls button {
  background-color: #fafafa;
  border: none;
  margin: 7px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  outline: none;
  font-size: 15pt;
}

div.sim-controls button:hover {
  background-color: #f0f0f0;
}

div.sim-controls button:active {
  background-color: #e6e6e6;
}

div.sim-controls button.selected {
  background-color: #e0e0e0;
}

div.comp-selector {
  width: 85%;
  margin: 25px;
  background-color: #fafafa;
  border: 5px solid #e0e0e0;
  height: 550px;
  overflow-y: auto;
  float: left;
}

div.comp-selector div.title {
  font-size: 20pt;
  top: 0;
  padding: 15px;
  font-weight: bold;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e3e3e3;
}

div.comp-selector div.subtitle {
  margin-top: 5px;
  padding: 5px;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid white;
  background-color: #f2f2f2;
}

div.comp-selector div.comp {
  padding: 15px;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid white;
  cursor: pointer;
  font-family: 'Inconsolata', monospace;
}

div.comp-selector div.clear {
  padding: 5px;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
  background-color: #ffd3d4;
  color: #f06b69;
}

div.comp-selector div.comp:hover {
  background-color: #f4f4f4;
}

div.comp-selector div.comp span.name {
  font-family: sans-serif;
  float: right;
  font-style: italic;
}

div.left {
  float: left;
  width: 60%;
  padding: 5px;
}

div.right {
  float: right;
  width: 40%;
  padding: 5px;
}
